body {
  font-family: "Itim", cursive;
  background-color: #ebebeb;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
nav a {
  color: #0f7375;
  font-weight: bold;
}
nav a:hover {
  color: #0f7375;
}
nav {
  background-color: #ffffff;
}
aside {
  position: fixed;
  background-color: #0f7375;
  left: 0;
  width: 100px;
  height: 100%;
}
aside ul a {
  font-size: 3em;
  color: #ffffff;
}
section {
  position: fixed;
  right: 0;
  width: 90%;
  height: 100%;
}
h1,
h4,
h5 {
  color: #7ab3b7;
  font-weight: bold;
}
h1 {
  font-size: 50px;
  margin-top: 25%;
}
h4 {
  margin: 20px 100px;
}
h5 {
  margin-left: 10px;
  margin-top: 5px;
}
.insert,
.result {
  background-color: #ffffff;
  border-radius: 20px;
  height: 350px;
  color: #7ab3b7;
  padding-top: 25px;
}
.box {
  border-right: 2px solid #c2cd23;
}
.paperclip,
.camera,
.analisis,
button {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px;
  margin-top: 20px;
  color: #7ab3b7;
  border-style: none;
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}
.border-dot {
  border: 5px dashed #7ab3b7;
  height: 300px;
  text-align: center;
}
.fa-plus {
  font-size: 80px;
  margin-top: 25%;
}
a[href="index.html"] li {
  color: #7ab3b7;
  background-color: #ebebeb;
}
ul li:hover {
  color: #7ab3b7;
  background-color: #ebebeb;
}
input[type="file"] {
  display: none;
}
label {
  margin: 0;
  cursor: pointer;
}
.preview, .res {
  display: none;
  width: 100%;
  height: 350px;
  border-radius: 30px;
}

.analisis {
  font-size: 20px;
}

.analisis #result-txt {
  padding: 0 10px;
}